@use "variables" as *;

#tinymce{
    color: black;
}

i{
    width: 1em;
    height: 1em;
    display: block;
    color: var(--ColorCms);
}

button.icon_block-text{
    display: flex;
    align-items: center;

    &::before{
        content: "";
        mask-image: url("../../icons/block-text.svg");
        background-color: var(--ColorCms);
        width: 1em;
        height: 1em;
        display: inline-block;
    }
}

button.icon_block-textimage{
    display: flex;
    align-items: center;
    &::before{
        content: "";
        mask-image: url("../../icons/block-textimage.svg");
        background-color: var(--ColorCms);
        width: 1em;
        height: 1em;
        display: inline-block;
    }
}

button.icon_block-image{
    display: flex;
    align-items: center;
    &::before{
        content: "";
        mask-image: url("../../icons/block-image.svg");
        background-color: var(--ColorCms);
        width: 1em;
        height: 1em;
        display: inline-block;
    }
}

button.icon_block-references{
    display: flex;
    align-items: center;
    &::before{
        content: "";
        mask-image: url("../../icons/block-references.svg");
        background-color: var(--ColorCms);
        width: 1em;
        height: 1em;
        display: inline-block;
    }
}

i.icon_block-text{
    mask-image: url("../../icons/block-text.svg");
    background-color: var(--ColorCms);
}

i.icon_block-textimage{
    mask-image: url("../../icons/block-textimage.svg");
    background-color: var(--ColorCms);
}

i.icon_block-carousel{
    mask-image: url("../../icons/block-carousel.svg");
    background-color: var(--ColorCms);
}

i.icon_block-image{
    mask-image: url("../../icons/block-image.svg");
    background-color: var(--ColorCms);
}

i.icon_block-references{
    mask-image: url("../../icons/block-references.svg");
    background-color: var(--ColorCms);
}
