@import "include-media";
@import "glightbox/dist/css/glightbox.css";
@import "swiper/swiper-bundle.css";

@import "variables";
@import "fonts";
@import "normalize";

@import "typography";
@import "forms";
@import "animations";

@import "layout/footer.scss";
@import "layout/header.scss";

@import "layout/team/TeamOverview.scss";
@import "layout/team/TeamDetails.scss";

@import "elements/TextImageElement.scss";
@import "elements/ImageBannerElement.scss";
@import "elements/CharacterCarouselElement.scss";
@import "elements/TeaserElement.scss";
@import "elements/ReferencesElement.scss";
@import "elements/FactElement.scss";
@import "elements/SocialBannerElement.scss";
@import "elements/TimelineElement.scss";
@import "elements/FAQElement.scss";
@import "elements/SpaceElement.scss";
@import "elements/HeroImageElement.scss";
@import "elements/HeroVideoElement.scss";
@import "elements/PressImagesElement.scss";
@import "elements/VideoElement.scss";

@import "layout/Feedback.scss";
@import "layout/PhotoboxGallery.scss";

@import "layout/Events/EventTicket.scss";
@import "layout/Events/EventAdmin.scss";
@import "layout/Events/Events.scss";

@import "layout/POS.scss";
@import "layout/StatisticsPage.scss";

@import "layout/FleaMarket.scss";

html {
    background-color: $ColorBackground;

}

body{
    margin-top: 100px;
    min-height: 100vh;

    .menu--fixed &{
        margin-top: 50px;
    }
}

.section {
    max-width: $maxWidth;
    margin: 50px auto;

    @include media("<desktop") {
        padding: 0 20px;
    }
}

.section_content{
    max-width: $maxWidthContent;
    margin: 0 auto;
}

.social_icon{
    display: block;
    width: 35px;
    height: 35px;
    margin: 10px;
    transition: transform 0.1s ease-in-out;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &:hover{
        transform: scale(1.1);
    }

    @include media("<medium") {
        height: 35px;
        width: 35px;
        margin: 5px;
    }
}
