@import "include-media";
@import "~glightbox/dist/css/glightbox.css";

@import "fonts";
@import "normalize";
@import "variables";
@import "typography";
@import "animations";

@import "layout/footer.scss";
@import "layout/header.scss";

@import "layout/TextImageElement.scss";
@import "layout/TextElement.scss";
@import "layout/ImageBannerElement.scss";

html {
    background-color: $ColorBackground;

}

body{
    margin-top: 100px;

    .menu--fixed &{
        margin-top: 50px;
    }
}

.section {
    max-width: $maxWidth;
    margin: 50px auto;

    @include media("<desktop") {
        padding: 0 20px;
    }
}

.section_content{
    max-width: $maxWidthContent;
    margin: 0 auto;
}
