@import "include-media";
@import "~glightbox/dist/css/glightbox.css";

@import "variables";
@import "fonts";
@import "normalize";

@import "typography";
@import "forms";
@import "animations";

@import "layout/footer.scss";
@import "layout/header.scss";

@import "layout/team/team_overview.scss";
@import "layout/team/team_details.scss";

@import "layout/TextImageElement.scss";
@import "layout/TextElement.scss";
@import "layout/ImageBannerElement.scss";
@import "layout/CharacterCarousel.scss";
@import "layout/TeaserElement.scss";
@import "layout/ReferencesElement.scss";
@import "layout/FactElement.scss";
@import "layout/SocialBannerElement.scss";
@import "layout/TimelineElement.scss";
@import "layout/FAQElement.scss";
@import "layout/SpaceElement.scss";
@import "layout/HeroImageElement.scss";
@import "layout/PressImageElement.scss";
@import "layout/VideoElement.scss";

@import "layout/Feedback.scss";
@import "layout/PhotoboxGallery.scss";

@import "layout/Events/EventTicket.scss";
@import "layout/Events/EventAdmin.scss";
@import "layout/Events/Events.scss";

html {
    background-color: $ColorBackground;

}

body{
    margin-top: 100px;

    .menu--fixed &{
        margin-top: 50px;
    }
}

.section {
    max-width: $maxWidth;
    margin: 50px auto;

    @include media("<desktop") {
        padding: 0 20px;
    }
}

.section_content{
    max-width: $maxWidthContent;
    margin: 0 auto;
}

.social_icon{
    display: block;
    width: 35px;
    height: 35px;
    margin: 10px;
    transition: transform 0.1s ease-in-out;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &:hover{
        transform: scale(1.1);
    }

    @include media("<medium") {
        height: 35px;
        width: 35px;
        margin: 5px;
    }
}

