$maxWidth: 1200px;
$maxWidthContent: 980px;

$breakpoints: (
  'smartphone': 480px,
  'medium': 700px,
  'desktop': 1000px
);

$ColorPrimary: #00ff00;
$ColorPrimaryDark: darken($ColorPrimary,30%);
$ColorSecondary: #390083;
$ColorSecondaryDark: darken($ColorSecondary, 50%);
$ColorSecondaryLight: lighten($ColorSecondary, 50%);

$ColorBlack: #000000;
$ColorWhite: #FFF;

$ColorBackground: #151515;
$ColorBackgroundLight: #383838;

$cmsColor: #43536d;
