.artefactcard{
    background-color: var(--ColorBackground);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: var(--BoxShadow);
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    color: var(--ColorWhite);

    .artefactcard_image{
        width: 70%;
        aspect-ratio: 1;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 10px;
        border-radius: 10px;
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
        background-color: var(--ColorBackgroundLight);

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            transition: transform 0.3s ease-in-out;
        }
    }

    .artefactcard_content {
        .artefactcard_shortdescription {
            margin: 0;
            font-size: 12px;
            opacity: 0.8;
            margin-bottom: 8px;
        }

        .artefactcard_jointime{
            font-size: 12px;
            opacity: 0.6;
        }
    }

    .artefact_ownershiplisttitle{
        margin: 0 0 4px 0;
    }

    .artefact_ownershiplist{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;

        .artefact_ownershipentry {
            background-color: var(--ColorBackgroundLight);
            border-radius: 20px;
            padding: 5px 10px;
            margin: 0;
        }
    }

    h3{
        margin: 0;
        color: var(--ColorWhite);
    }

    &:hover{
        transform: scale(1.05);

        img{
            transform: scale(1.1);
        }
    }
}
