.charactercard{
    background-color: var(--ColorBackground);
    border-radius: 55px 55px 20px 20px;
    padding: 10px;
    text-align: center;
    box-shadow: var(--BoxShadow);
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    color: var(--ColorWhite);

    .charactercard_image{
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 45px;
        overflow: hidden;
        margin-bottom: 10px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            transition: transform 0.3s ease-in-out;
        }
    }

    .charactercard_content {
        .charactercard_shortdescription {
            margin: 0;
            font-size: 12px;
            opacity: 0.8;
            margin-bottom: 8px;
        }

        .charactercard_jointime{
            font-size: 12px;
            opacity: 0.6;
        }

        .character_actorlist_title{
            margin: 0 0 4px 0;

            &.title--animatronic {
                font-size: 12px;
                opacity: 0.5;
            }
        }

        .character_actorlist{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4px;

            .character_actor {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--ColorBackgroundLight);
                border-radius: 20px;
                padding: 4px 12px 4px 4px;

                img{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 8px;
                }

                p{
                    margin: 0;
                }
            }
        }
    }

    h3{
        margin: 0;
        color: var(--ColorWhite);
    }

    &:hover{
        transform: scale(1.05);

        img{
            transform: scale(1.1);
        }
    }
}
