.locationcard{
    background-color: var(--ColorBackground);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: var(--BoxShadow);
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    color: var(--ColorWhite);

    .locationcard_image{
        width: 100%;
        aspect-ratio: 3/2;
        overflow: hidden;
        margin-bottom: 10px;
        border-radius: 10px;
        clip-path: polygon(100% 13%, 91% 31%, 97% 30%, 90% 53%, 96% 51%, 86% 83%, 94% 80%, 81% 100%, 25% 100%, 12% 79%, 18% 80%, 8% 53%, 13% 54%, 2% 23%, 7% 23%, 0 10%, 0% 0%, 100% 0);
        background-color: var(--ColorBackgroundLight);

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            transition: transform 0.3s ease-in-out;
        }
    }

    .locationcard_content {
        .locationcard_shortdescription {
            margin: 0;
            font-size: 12px;
            opacity: 0.8;
            margin-bottom: 8px;
        }

        .locationcard_jointime{
            font-size: 12px;
            opacity: 0.6;
        }
    }

    h3{
        margin: 0;
        color: var(--ColorWhite);
    }

    &:hover{
        transform: scale(1.05);

        img{
            transform: scale(1.1);
        }
    }
}
