@use "../variables" as *;
@use "CharacterCard";
@use "LocationCard";
@use "ArtefactCard";
@use "MediaprojectCard";
@use "ShowCard";

section.section--WikiPage{
    margin-top: 110px;
    padding: 0;
    overflow: hidden;

    .section_content{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1{
            margin: 0;
            padding: 0;
            font-size: 2rem;
            color: var(--ColorWhite);
        }

        .wiki-navigation{
            display: grid;
            grid-template-columns: 10% 1fr 10%;
            background-color: var(--ColorBackgroundLight);
            border-radius: 10px;
            view-transition-name: "wiki-navigation";

            .link--button{
                flex: 1;
                text-align: center;
                background-color: var(--ColorBackgroundLight);
                border-radius: 10px;
                padding: 10px 20px;
                margin: 0;

                &.button-prev {
                    &::before{
                        content: '';
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        border-left: 2px solid var(--ColorWhite);
                        border-top: 2px solid var(--ColorWhite);
                        transform: rotate(-45deg);
                    }
                }
                &.button-next {
                    &::after{
                        content: '';
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        border-right: 2px solid var(--ColorWhite);
                        border-top: 2px solid var(--ColorWhite);
                        transform: rotate(45deg);
                    }
                }
                &.button-overview {
                    text-transform: uppercase;
                    font-weight: 600;
                }

                &.link--buttondisabled {
                    opacity: 0.2;
                    pointer-events: none;
                }

                &:hover{
                    background-color: var(--ColorBlack);
                }
            }

            @include media(max-medium) {
                grid-template-columns: 1fr 2fr 1fr;
            }
        }

        .showsection{
            background-color: var(--ColorBackgroundLight);
            border-radius: 10px;

            h2{
                margin: 0 0 20px 0;
            }

            .wiki_image{
                width: 100%;
                height: 300px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                    margin-bottom: 20px;
                }
            }

            .wiki_title {
                text-align: center;
                margin: 0;
                padding: 10px 20px;
            }

            .wiki_description{
                text-align: center;
            }

            &.showsection--shows {
                padding: 20px;
                position: relative;

                .showswiper{
                    position: relative;

                    .swiper-wrapper {
                        .swiper-slide{
                            text-decoration: none;
                            color: var(--ColorWhite);
                            text-align: center;
                        }
                    }
                }

                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 2000px;
                    height: 100%;
                    background: linear-gradient(to right, transparent 0%, var(--ColorBackground) 8%, var(--ColorBackground) 100%);
                    pointer-events: none;
                    z-index: 10;
                }

                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 100%;
                    width: 2000px;
                    height: 100%;
                    background: linear-gradient(to left, transparent 0%, var(--ColorBackground) 8%, var(--ColorBackground) 100%);
                    pointer-events: none;
                    z-index: 10;
                }
            }

            &.showsection--numbers {
                padding: 20px;

                .section_text{
                    p{
                        border-bottom: 1px solid var(--ColorBackground);
                        padding: 10px 0;
                        margin: 0;

                        &.note {
                            display: block;
                            font-size: 0.9rem;
                            opacity: 0.6;
                        }

                        &:first-child{
                            padding-top: 0;
                        }

                        &:last-child{
                            border-bottom: none;
                            padding-bottom: 0;
                        }
                    }
                }
            }

            &.showsection--characters{
                padding: 20px;
                .charactersgrid {
                    display: grid;
                    grid-template-columns: repeat(4, calc(100% / 4 - 60px / 4));
                    gap: 20px;

                    @include media(max-desktop) {
                        grid-template-columns: repeat(3, calc(100% / 3 - 40px / 3));
                    }

                    @include media(max-medium) {
                        grid-template-columns: repeat(2, calc(100% / 2 - 20px / 2));
                    }

                    @include media(max-smartphone) {
                        grid-template-columns: repeat(1, calc(100% / 1));
                    }
                }
            }

            &.showsection--locations{
                padding: 20px;
                .locationsgrid {
                    display: grid;
                    grid-template-columns: repeat(4, calc(100% / 4 - 60px / 4));
                    gap: 20px;

                    @include media(max-desktop) {
                        grid-template-columns: repeat(3, calc(100% / 3 - 40px / 3));
                    }

                    @include media(max-medium) {
                        grid-template-columns: repeat(2, calc(100% / 2 - 20px / 2));
                    }

                    @include media(max-smartphone) {
                        grid-template-columns: repeat(1, calc(100% / 1));
                    }
                }
            }

            &.showsection--artefacts{
                padding: 20px;
                .artefactgrid {
                    display: grid;
                    grid-template-columns: repeat(4, calc(100% / 4 - 60px / 4));
                    gap: 20px;

                    @include media(max-desktop) {
                        grid-template-columns: repeat(3, calc(100% / 3 - 40px / 3));
                    }

                    @include media(max-medium) {
                        grid-template-columns: repeat(2, calc(100% / 2 - 20px / 2));
                    }

                    @include media(max-smartphone) {
                        grid-template-columns: repeat(1, calc(100% / 1));
                    }
                }
            }

            &.showsection--mediaprojects{
                padding: 20px;

                .mediaprojectgrid{
                    display: grid;
                    grid-template-columns: repeat(3, calc(1fr / 3));
                    gap: 20px;
                }
            }
        }
    }

    &.showoverview--itemdetails{
        .showsection--details{
            padding: 0 0 20px 0;
            overflow: hidden;
            position: relative;

            .show_title, .show_year, .show_storyline, .character_title, .character_description, .media_description {
                color: var(--ColorWhite);
                text-align: center;
                padding: 0 20px;
            }

            .character_shortdescription {
                text-align: center;
                margin: 0;
                font-size: 12px;
            }

            .media_image {
                display: block;
                height: 300px;
                aspect-ratio: 16/9;
                border-radius: 10px;
                overflow: hidden;
                margin: 20px auto 20px auto;
                box-shadow: var(--BoxShadow);
                mask-image: url("../../icons/media_mask.png");
                mask-size: 100% 100%;
                mask-repeat: no-repeat;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }

            .media_video {
                aspect-ratio: 16 / 9;
            }

            .media_title{
                margin: 0 auto;
                text-align: center;
            }

            .media_publicationdate{
                margin: 0 auto 20px auto;
                opacity: 0.8;
                text-align: center;
            }

            .character_image{
                display: block;
                width: 300px;
                height: 400px;
                border-radius: 30px;
                overflow: hidden;
                margin: 20px auto 20px auto;
                box-shadow: var(--BoxShadow);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }

            .overviewimage{
                width: 100%;
                height: 300px;
                margin-bottom: 120px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }

            .posterimage{
                position: absolute;
                top: 100px;
                height: 300px;
                width: auto;
                left: 50%;
                transform: translateX(-50%);
                box-shadow: var(--BoxShadow);
                border-radius: 10px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: auto;
                    object-fit: cover;
                    display: block;
                }

                &.posterimage--single{
                    position: relative;
                    top: auto;
                    left: auto;
                    transform: none;
                    display: block;
                    margin: 20px auto 0 auto;
                    border-radius: 8px;
                    overflow: hidden;
                    box-shadow: var(--BoxShadow);
                    aspect-ratio: 210/297;
                    transition: transform 0.3s ease-in-out;
                    background-color: var(--ColorBlack);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            .location_image{
                display: block;
                width: 100%;
                height: 300px;
                margin-bottom: 20px;
                clip-path: polygon(100% 0%, 97% 17%, 99% 15%, 97% 34%, 98% 34%, 95% 50%, 97% 50%, 94% 70%, 96% 70%, 93% 85%, 94% 86%, 92% 100%, 9% 100%, 6% 73%, 8% 74%, 4% 47%, 7% 50%, 3% 25%, 6% 28%, 2% 10%, 4% 10%, 0% 0%);

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    display: block;
                }

                @include media(max-medium) {
                    clip-path: polygon(100% 13%, 91% 31%, 97% 30%, 90% 53%, 96% 51%, 86% 83%, 94% 80%, 81% 100%, 25% 100%, 12% 79%, 18% 80%, 8% 53%, 13% 54%, 2% 23%, 7% 23%, 0 10%, 0% 0%, 100% 0);
                }
            }

            .artefact_image {
                display: block;
                clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
                width: 300px;
                height: 300px;
                aspect-ratio: 1;
                margin: 20px auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                    object-position: center;
                }
            }
        }

        .showsection--gallery{
            padding: 20px;

            .swiper--showsoverview{
                position: relative;

                .swiper-wrapper {
                    .imagecard{
                        border-radius: 10px;
                        overflow: hidden;
                        box-shadow: var(--BoxShadow);

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                        }
                    }
                }

                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 2000px;
                    height: 100%;
                    background: linear-gradient(to right, transparent 0%, var(--ColorBackground) 8%, var(--ColorBackground) 100%);
                    pointer-events: none;
                    z-index: 10;
                }

                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 100%;
                    width: 2000px;
                    height: 100%;
                    background: linear-gradient(to left, transparent 0%, var(--ColorBackground) 8%, var(--ColorBackground) 100%);
                    pointer-events: none;
                    z-index: 10;
                }
            }
        }

        .showsection--teammembers {
            padding: 20px;

            .teammembersgrid {
                display: grid;
                grid-template-columns: repeat(5, calc(100% / 5 - 60px / 5));
                gap: 20px;

                .teammembercard{
                    text-align: center;
                    text-decoration: none;
                    color: var(--ColorWhite);

                    .teammembercard_image{
                        width: 100%;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-bottom: 10px;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                        }
                    }

                    .teammembercard_title{
                        margin: 0;
                    }
                }

                @include media(max-desktop) {
                    grid-template-columns: repeat(3, calc(100% / 3 - 40px / 3));
                }

                @include media(max-medium) {
                    grid-template-columns: repeat(2, calc(100% / 2 - 20px / 2));
                }

                @include media(max-smartphone) {
                    grid-template-columns: repeat(1, calc(100% / 1));
                }
            }
        }
    }

    .backbutton {
        display: inline-block;
        color: var(--ColorWhite);
        text-decoration: none;
        font-size: 14px;
        background-color: var(--ColorBackgroundLight);
        padding: 8px 12px;
        border-radius: 8px;
        width: auto;
        align-self: flex-start;
        transition: background-color 0.2s ease-in-out;

        &:hover{
            background-color: var(--ColorBlack);
        }
    }
}
