@use "../variables" as *;

section.section--ShowOverview{
    margin-top: 110px;

    .section_content{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1{
            margin: 0;
            padding: 0;
            font-size: 2rem;
            color: var(--ColorWhite);
        }

        .showsection{
            background-color: var(--ColorBackgroundLight);
            padding: 20px;
            border-radius: 10px;

            h2{
                margin: 0 0 20px 0;
            }

            &.showsection--shows {
                position: relative;

                .showswiper{
                    position: relative;

                    .swiper-wrapper {
                        .swiper-slide{
                            text-decoration: none;
                            color: var(--ColorWhite);
                            text-align: center;
                        }
                    }
                }

                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 2000px;
                    height: 100%;
                    background: linear-gradient(to right, transparent 0%, var(--ColorBackground) 8%, var(--ColorBackground) 100%);
                    pointer-events: none;
                    z-index: 10;
                }

                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 100%;
                    width: 2000px;
                    height: 100%;
                    background: linear-gradient(to left, transparent 0%, var(--ColorBackground) 8%, var(--ColorBackground) 100%);
                    pointer-events: none;
                    z-index: 10;
                }
            }

            &.showsection--characters{
                .charactersgrid {
                    display: grid;
                    grid-template-columns: repeat(4, calc(100% / 4 - 60px / 4));
                    gap: 20px;

                    @include media(max-desktop) {
                        grid-template-columns: repeat(3, calc(100% / 3 - 40px / 3));
                    }

                    @include media(max-medium) {
                        grid-template-columns: repeat(2, calc(100% / 2 - 20px / 2));
                    }

                    @include media(max-smartphone) {
                        grid-template-columns: repeat(1, calc(100% / 1));
                    }
                }
            }

            &.showsection--locations{
                .locationsgrid {
                    display: grid;
                    grid-template-columns: repeat(4, calc(100% / 4 - 60px / 4));
                    gap: 20px;

                    @include media(max-desktop) {
                        grid-template-columns: repeat(3, calc(100% / 3 - 40px / 3));
                    }

                    @include media(max-medium) {
                        grid-template-columns: repeat(2, calc(100% / 2 - 20px / 2));
                    }

                    @include media(max-smartphone) {
                        grid-template-columns: repeat(1, calc(100% / 1));
                    }
                }
            }

            &.showsection--artefacts{
                .artefactgrid {
                    display: grid;
                    grid-template-columns: repeat(4, calc(100% / 4 - 60px / 4));
                    gap: 20px;

                    @include media(max-desktop) {
                        grid-template-columns: repeat(3, calc(100% / 3 - 40px / 3));
                    }

                    @include media(max-medium) {
                        grid-template-columns: repeat(2, calc(100% / 2 - 20px / 2));
                    }

                    @include media(max-smartphone) {
                        grid-template-columns: repeat(1, calc(100% / 1));
                    }
                }
            }
        }
    }

    .showcard {
        .showcard_image{
            border-radius: 8px;
            overflow: hidden;
            margin-bottom: 20px;
            box-shadow: var(--BoxShadow);
            aspect-ratio: 210/297;
            transition: transform 0.3s ease-in-out;
            background-color: var(--ColorBlack);

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        .showcard_content{
            .showcard_dates{
                margin-bottom: 10px;
            }

            .showcard_title{
                font-weight: 500;
            }
        }

        &:hover{
            .showcard_image{
                transform: scale(1.05) translateY(-5px);
            }
        }
    }

    .charactercard{
        background-color: var(--ColorBackground);
        border-radius: 55px;
        padding: 10px;
        text-align: center;
        box-shadow: var(--BoxShadow);
        transition: transform 0.2s ease-in-out;
        text-decoration: none;
        color: var(--ColorWhite);

        .charactercard_image{
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 45px;
            overflow: hidden;
            margin-bottom: 10px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                transition: transform 0.3s ease-in-out;
            }
        }

        .charactercard_content {
            .charactercard_shortdescription {
                margin: 0;
                font-size: 12px;
                opacity: 0.8;
                margin-bottom: 8px;
            }

            .charactercard_jointime{
                font-size: 12px;
                opacity: 0.6;
            }
        }

        h3{
            margin: 0;
            color: var(--ColorWhite);
        }

        &:hover{
            transform: scale(1.05);

            img{
                transform: scale(1.1);
            }
        }
    }

    .locationcard{
        background-color: var(--ColorBackground);
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        box-shadow: var(--BoxShadow);
        transition: transform 0.2s ease-in-out;
        text-decoration: none;
        color: var(--ColorWhite);

        .locationcard_image{
            width: 100%;
            aspect-ratio: 3/2;
            overflow: hidden;
            margin-bottom: 10px;
            border-radius: 10px;
            clip-path: polygon(100% 13%, 91% 31%, 97% 30%, 90% 53%, 96% 51%, 86% 83%, 94% 80%, 81% 100%, 25% 100%, 12% 79%, 18% 80%, 8% 53%, 13% 54%, 2% 23%, 7% 23%, 0 10%, 0% 0%, 100% 0);
            background-color: var(--ColorBackgroundLight);

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                transition: transform 0.3s ease-in-out;
            }
        }

        .locationcard_content {
            .locationcard_shortdescription {
                margin: 0;
                font-size: 12px;
                opacity: 0.8;
                margin-bottom: 8px;
            }

            .locationcard_jointime{
                font-size: 12px;
                opacity: 0.6;
            }
        }

        h3{
            margin: 0;
            color: var(--ColorWhite);
        }

        &:hover{
            transform: scale(1.05);

            img{
                transform: scale(1.1);
            }
        }
    }

    .artefactcard{
        background-color: var(--ColorBackground);
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        box-shadow: var(--BoxShadow);
        transition: transform 0.2s ease-in-out;
        text-decoration: none;
        color: var(--ColorWhite);

        .artefactcard_image{
            width: 70%;
            aspect-ratio: 1;
            overflow: hidden;
            margin: 0 auto;
            margin-bottom: 10px;
            border-radius: 10px;
            clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
            background-color: var(--ColorBackgroundLight);

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                transition: transform 0.3s ease-in-out;
            }
        }

        .artefactcard_content {
            .artefactcard_shortdescription {
                margin: 0;
                font-size: 12px;
                opacity: 0.8;
                margin-bottom: 8px;
            }

            .artefactcard_jointime{
                font-size: 12px;
                opacity: 0.6;
            }
        }

        h3{
            margin: 0;
            color: var(--ColorWhite);
        }

        &:hover{
            transform: scale(1.05);

            img{
                transform: scale(1.1);
            }
        }
    }

    &.showoverview--itemdetails{
        .showsection--details{
            padding: 0;
            overflow: hidden;
            position: relative;

            .show_title, .show_year, .show_storyline{
                color: var(--ColorWhite);
                text-align: center;
                padding: 0 20px;
            }

            .overviewimage{
                width: 100%;
                height: 300px;
                margin-bottom: 120px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }

            .posterimage{
                position: absolute;
                top: 100px;
                height: 300px;
                width: auto;
                left: 50%;
                transform: translateX(-50%);
                box-shadow: var(--BoxShadow);
                border-radius: 10px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: auto;
                    object-fit: cover;
                    display: block;
                }
            }
        }
    }
}
