@use "../variables" as *;

section.section--FAQElement {
    .section_content{
        padding: 0;

        .section_title{
            text-align: center;
        }

        .list_item{
            margin: 10px 0;

            &_title{
                &::after {
                    content: "";
                    display: block;
                    width: 0;
                    height: 2px;
                    background-color: var(--ColorWhite);
                    transition: width 0.3s ease;
                }

                &:hover::after {
                    width: 100%;
                }
            }

            .list_item_content_title{
                display: flex;
                align-items: center;

                &:hover{
                    cursor: pointer;
                }

                .list_item_title_triangle{
                    fill: var(--ColorWhite);
                    width: 20px;
                    height: 20px;
                    transform: rotate(-90deg);
                    margin-right: 5px;
                    pointer-events: none;
                }
            }

            .list_item_content_text{
                padding-left: 30px;
                margin: 10px 0;

                img{
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }

                .faq_gallery{
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                }
            }
        }
    }
}
