@use "../variables" as *;

section.section--HeroSlider {
    padding: 0;
    margin-top: 75px;
    margin-bottom: 150px;

    .section_content {
        position: relative;
        max-width: unset;
        --HeroHeight: 600px;

        .swiper--hero {
            .swiper-slide {
                width: 100%;
                height: var(--HeroHeight);
                max-height: var(--HeroHeight);
                overflow: hidden;

                img {
                    display: block;
                    width: 100%;
                    height: 150%;
                    max-height: var(--HeroHeight);
                    object-fit: cover;

                    &.hero-zoom {
                        animation: zoomIn 4.5s linear forwards;
                    }

                    &.hero-zoom-out {
                        animation: zoomOut 2s linear forwards;
                    }
                }
            }
        }

        .hero_dateframe {
            position: absolute;
            z-index: 5;
            bottom: -125px;
            height: 250px;
            width: 800px;
            max-width: 80vw;
            left: 50%;
            transform: translateX(-50%);

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }

            @include media(max-medium) {
                height: 140px;
                bottom: -70px;
            }
        }

        @include media(max-maxwidth) {
            --HeroHeight: 500px;
        }

        @include media(max-desktop) {
            --HeroHeight: 400px;
        }

        @include media(max-medium) {
            --HeroHeight: 300px;
        }
    }

    @include media(max-medium) {
        margin-bottom: 80px;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.03);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.03);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
