@use "../variables" as *;

section.section--ReferencesElement {
    .section_content{
        text-align: center;

        .references_year_group {
            margin-bottom: 40px;
        }

        .references_year_heading {
            text-align: left;
            margin-bottom: 16px;
        }

        .referenceelement_list{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;
            margin: 0;

            .referenceitem{
                background-color: var(--ColorGray);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                text-align: center;
                padding: 20px;
                border-radius: 20px;
                transition: background-color 0.2s ease-in-out;
                height: 100%;

                p{
                    margin-bottom: 0px;
                }

                .referenceitem_text{
                    height: calc(100% - 20px);
                    padding-bottom: 10px;
                    border-bottom: 2px solid var(--ColorWhite);
                }

                .referenceitem_source{
                    color: var(--ColorWhite);
                    margin: 1em 0 0 0;
                    font-weight: 200;
                }

                &:hover{
                    color: var(--ColorWhite);
                    background-color: var(--ColorPrimary);

                    &.no_color{
                        background-color: var(--ColorGray);
                    }
                }
            }

            @include media(max-medium) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include media(max-smartphone) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}
