@use "../variables" as *;

.section.section--SocialBannerElement {
    .section_content{
        text-align: center;
        .socialbanner_list{
            display: flex;
            justify-content: center;
        }
    }
}
