@use "../variables" as *;

.section.section--TextImageElement {
    padding: 30px 20px;

    .section_content {
        max-width: var(--MaxWidthContent);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        .textimage_image {
            width: 100%;
            height: auto;
            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include media(medium) {
                padding-left: 0px;
                padding-right: 20px;
            }
        }

        .textimage_text {
            width: 100%;

            .textimage_text_content {
                position: relative;
                height: 100%;

                .textimage_text_button {
                    @include media(max-medium) {
                        text-align: center;
                        right: 0;
                    }
                }

                .textimage_text_title {
                    &.style--title-left{
                        text-align: left;
                    }

                    &.style--title-center {
                        text-align: center;
                    }

                    &.style--title-right {
                        text-align: right;
                    }
                }

                .textimage_button{
                    &.style--button-left{
                        justify-self: left;
                    }
                    &.style--button-center {
                        justify-self: center;
                    }
                    &.style--button-right {
                        justify-self: right;
                    }
                }
            }

            @include media(max-medium) {
                padding-top: 20px;
                text-align: center;
            }
        }

        @include media(medium) {
            flex-wrap: nowrap;

            &.image-30 {
                .textimage_image {
                    width: 30%;
                }
            }

            &.image-40 {
                .textimage_image {
                    width: 40%;
                }
            }

            &.image-50 {
                .textimage_image {
                    width: 50%;
                }
            }

            &.image-60 {
                .textimage_image {
                    width: 60%;
                }
            }

            &.image-70 {
                .textimage_image {
                    width: 70%;
                }
            }

            &.image-right {
                .textimage_text {
                    order: 1;
                }

                .textimage_image {
                    padding-left: 20px;
                    padding-right: 0px;
                    order: 2;
                }
            }
        }
    }

    &.color--background-light {
        max-width: 100%;
        background-color: var(--ColorBackgroundLight);
    }
}
