.section.section--EventsAdmin{
    background-color: $ColorBlack;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    max-width: none;
    text-align: center;

    .section_content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .section_title{
            padding: 10px 15px;
            display: block;

            .section_title_ticketcheck{
                font-size: 2em;
                color: $ColorWhite;
                margin: 0;
                margin-top: 40px;
                background-color: $ColorBackground;
                padding: 10px 15px;
                border-radius: 20px;

                &.valid{
                    background-color: green;
                }

                &.invalid{
                    background-color: red;
                }
            }
        }

        .section_data{
            background-color: $ColorBackground;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            .section_data_tile{
                border-left: 2px solid $ColorBlack;

                &:first-of-type{
                    border-left: 2px solid transparent;
                }

                .tile_value{
                    width: 100%;
                    padding: 20px;
                    display: block;
                    font-size: 1.1em;
                    border-bottom: 2px solid $ColorBlack;
                    margin: 0;
                }

                .tile_title{
                    width: 100%;
                    padding: 10px 15px;
                    display: block;
                    font-size: 0.7em;
                    margin: 0;
                }
            }
        }

        .section_buttons{
            width: 100vw;
            display: flex;
            justify-content: stretch;
            align-items: stretch;

            .button{
                width: 50%;
                padding: 50px 20px;
                background-color: $ColorBackground;
                border: 2px solid $ColorBlack;
                text-decoration: none;
                font-size: 1.5em;

                &.button--primary{
                    background-color: darkgreen;
                }

                &.button--secondary{
                    opacity: 0.5;
                    background-color: darkred;
                }
            }
        }

        .section_qrcodescan{
            height: 50%;
            overflow: hidden;
            aspect-ratio: 1/1;
            display: block;
            width: 100vw;
            height: 100vh;
            position: relative;


            #qrcode-video{
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 1/1;
            }

            .scan-region-highlight{
                position: absolute;
                left: 25%;
                top: 25%;
                width: 50%;
                aspect-ratio: 1/1;
                transform: translate(-50%, -50%);
            }

            .logo{
                position: fixed;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                svg {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    color: $ColorWhite;
                    animation: rainbow 75s infinite;

                    .eyes{
                        position: absolute;
                        left: 0;
                        top: 0;
                        transform-origin: 22px 17px;
                        animation: leftright 40s infinite;
                    }

                    &.mobile{
                        display: none;
                        @include media("<desktop") {
                            display: block;
                        }
                    }

                    &.desktop{
                        display: block;
                        @include media("<desktop") {
                            display: none;
                        }
                    }

                    .menu--fixed &{
                        &.mobile{
                            display: none;
                        }

                        &.desktop{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}


