.section.section--team_details{
    .section_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        .back{
            width: 100%;
            text-align: left;
            padding: 10px;
            margin: -10px;
            &::before{
                content:"";
                display: inline-block;
                border-bottom: 2px solid white;
                border-left: 2px solid white;
                width: 10px;
                height: 10px;
                transform-origin: center;
                transform: rotate(45deg);
            }
        }
        .teammember_item_image{
            width: 30%;
            aspect-ratio: 1;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .teammember_name{
            font-weight: 700;
            font-size: 28px;
            margin: 15px 0 0 0;
        }

        .teammember_profession{
            font-weight: 200;
            margin: 5px;
        }

        .teammember_time{
            font-weight: 200;
            margin: 5px;
        }

        .teammember_description{
            width: 100%;
        }

        .social_icons{
            display: flex;
        }
    }
}
