.section.section--events{
    margin-top: 130px;

    h1{
        text-align: center;
    }

    h2{
        text-align: center;
        margin: 10px 0 0 0;
    }

    .section_content{
        .events_navigator{
            .events_navigator_step{

                .section_selectablelist{
                    display: flex;
                    gap: 10px;
                    margin: 10px auto 20px;
                    justify-content: center;
                    align-items: center;
                }

                &.hidden{
                    display: none;
                }
                &.selected{
                    background-color: $ColorSecondary;
                }

                &.dates{
                    .date_card{
                        border: 1px solid $ColorSecondary;
                        cursor: pointer;
                        border-radius: 10px;
                        padding: 10px 15px;

                        &.hidden{
                            display: none;
                        }
                        &.selected{
                            background-color: $ColorSecondary;
                        }
                    }
                }

                &.events{
                    .event_card{
                        border: 1px solid $ColorSecondary;
                        border-radius: 10px;
                        padding: 10px 15px;
                        text-align: center;

                        cursor: pointer;

                        &.hidden{
                            display: none;
                        }
                        &.selected{
                            background-color: $ColorSecondary;
                        }
                    }
                }

                &.timeslots{
                    .timeslot_card{
                        border: 1px solid $ColorSecondary;
                        cursor: pointer;
                        border-radius: 10px;
                        padding: 10px 15px;

                        &.hidden{
                            display: none;
                        }
                        &.selected{
                            background-color: $ColorSecondary;
                        }
                    }
                }
            }
        }
    }
}
