.footer {
    display: block;
    margin-top: 80px;
    flex-direction: column;
    background-color: $ColorBackground;
    position: relative;

    .footer_content_wrap{
        background-color: $ColorBackgroundLight;

        .footer_content {
            max-width: $maxWidth;
            margin-right: auto;
            margin-left: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 0px 20px;

            .footer_text {
                color: $ColorWhite;
                font-size: 17px;
                text-decoration: none;
                padding: 15px 10px;
            }

            .footer_menu_list {
                padding: 0;
                margin: 0;
            }

            .footer_menu_item {
                list-style: none;

                a {
                    display: block;
                    text-decoration: none;
                    padding: 15px 10px;
                    &:hover{
                        background-color: $ColorSecondary;
                    }
                }
            }

            @include media("<medium") {
                padding-top: 100px;
                flex-direction: column;
                justify-content: center;
                text-align: center;
            }
        }
    }

    .footer_logo{
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 128px;
        height: 128px;
        background-color: $ColorBackground;
        border-radius: 50%;
        padding: 10px;
        color: white;
        animation: rainbow 20s infinite;
    }
}
