.header {
    overflow: visible;
    max-width: $maxWidth;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    width: 100%;
    filter: none;

    .header_nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .nav_brand{
            height: 100px;
            width: 100px;
            padding: 10px;

            @media screen and (max-width: 991px) {
                display: block;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .nav_menu{

            .nav_link {
                text-decoration: none;
                display: inline-block;
                margin: 10px 0;
                padding: 10px 30px;
                color: $ColorPrimary;
                font-size: 17px;
                line-height: 20px;
                font-weight: 400;
                text-align: center;

                &:hover {
                    background-color: #551e1e;
                    color: #fff;
                }

                &:active {
                    background-color: #3d1414;
                }

                &:focus {
                    background-color: #812d2d;
                    color: #fff;
                }

                &.nav_link--active {
                    background-color: #551e1e;
                    color: #fff;
                }
            }

            @media screen and (max-width: 991px) {
                display: none;
                width: 100%;
                flex-direction: column;
                position: absolute;
                top: 100px;
                left: 0;


                .nav_link {
                    width: 100%;
                    margin: 0;
                    background-color: $ColorSecondaryDark;
                    display: block;
                }

                .body--show &{
                    display: flex;
                }
            }
        }

        .nav_button{
            display: none;

            @media screen and (max-width: 991px) {
                display: inline-block;
                position: relative;
                top: 0px;
                right: 20px;
                width: 50px;
                height: 50px;
                cursor: pointer;

                .bar1, .bar2, .bar3, .bar4 {
                    width: 35px;
                    height: 5px;
                    background-color: $ColorPrimary;
                    transition: 0.4s;
                    position: absolute;
                }

                .bar1{
                    top: 6px;
                    .body--show & {
                    opacity: 0;
                    }
                }

                .bar2{
                    top: 18px;
                    .body--show & {
                    opacity: 1;
                    transform-origin: center;
                    transform: rotate(45deg);
                    }
                }

                .bar3{
                    opacity: 0;
                    top: 18px;
                    .body--show &{
                    opacity: 1;
                    transform-origin: center;
                    transform: rotate(-45deg);
                    }
                }

                .bar4{
                    top: 30px;
                    .body--show &{
                    opacity: 0;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 991px) {
      padding-bottom: 0px;
    }
}
