.header {
    overflow: visible;
    margin-right: auto;
    margin-left: auto;
    background-color: $ColorBlack;
    width: 100%;
    filter: none;
    position: fixed;
    top: 0;
    z-index: 100;

    .header_nav{
        max-width: $maxWidth;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav_brand{
            height: 100px;
            width: auto;
            flex-shrink: 0;
            padding: 10px 30px 10px 10px;
            transition: height 0.2s ease-in-out;

            svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
                color: $ColorWhite;
                animation: rainbow 20s infinite;

                .eyes{
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform-origin: 22px 17px;
                    animation: leftright 10s infinite;
                }

                &.mobile{
                    display: none;
                    @include media("<desktop") {
                        display: block;
                    }
                }

                &.desktop{
                    display: block;
                    @include media("<desktop") {
                        display: none;
                    }
                }

                .menu--fixed &{
                    &.mobile{
                        display: none;
                    }

                    &.desktop{
                        display: block;
                    }
                }
            }

            .menu--fixed &{
                height: 50px;
            }
        }

        .menus{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .nav_link {
                text-decoration: none;
                display: inline-block;
                margin: 5px 5px;
                padding: 10px 30px;
                color: $ColorWhite;
                font-size: 17px;
                line-height: 20px;
                font-weight: 400;
                text-align: center;

                &:hover {
                    background-color: $ColorSecondary;
                    color: $ColorWhite;
                }

                &:active {
                    background-color: $ColorSecondary;
                }

                &:focus {
                    background-color: $ColorSecondary;
                    color: $ColorWhite;
                }

                &.nav_link--active {
                    background-color: $ColorSecondary;
                    color: $ColorWhite;
                }
            }

            .nav_mainmenu{
                padding-right: 30px;

                @include media("<medium") {
                    max-height: 0;
                    overflow: hidden;
                    position: absolute;
                    top: 100px;
                    height: 50px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    backdrop-filter: blur(0px);
                    transition: 0.2s ease-in-out;
                    background-color: rgba(0, 0, 0, 0.3);

                    .menu--fixed &{
                        top: 50px;
                    }

                    .body--show &{
                        backdrop-filter: blur(10px);
                        max-height: 1000px;
                        opacity: 1;
                    }
                }
            }

            .nav_secondarymenu{
                opacity: 0;
                width: 50%;
                flex-direction: column;
                position: absolute;
                top: 100px;
                right: 0;
                z-index: 999;
                transition: 0.2s ease-in-out;
                backdrop-filter: blur(0px);
                background-color: rgba(0, 0, 0, 0.3);
                max-height: 0;
                overflow: hidden;
                display: flex;
                border-radius: 20px;

                .menu--fixed &{
                    top: 50px;

                    @include media("<medium") {
                        top: 100px;
                    }
                }

                .body--show &{
                    backdrop-filter: blur(10px);
                    max-height: 1000px;
                    opacity: 1;
                }

                @include media("<medium") {
                    width: 100%;
                    left: 0;
                    top: 150px;
                }
            }

            .nav_button{
                display: inline-block;
                position: relative;
                top: 5px;
                right: 20px;
                width: 50px;
                height: 50px;
                cursor: pointer;

                .bar1, .bar2, .bar3, .bar4 {
                    width: 35px;
                    height: 5px;
                    background-color: $ColorWhite;
                    transition: 0.4s;
                    position: absolute;
                }

                .bar1{
                    top: 6px;
                    .body--show & {
                    opacity: 0;
                    }
                }

                .bar2{
                    top: 18px;
                    .body--show & {
                    opacity: 1;
                    transform-origin: center;
                    transform: rotate(45deg);
                    }
                }

                .bar3{
                    opacity: 0;
                    top: 18px;
                    .body--show &{
                    opacity: 1;
                    transform-origin: center;
                    transform: rotate(-45deg);
                    }
                }

                .bar4{
                    top: 30px;
                    .body--show &{
                    opacity: 0;
                    }
                }
            }
        }
    }
}
