.section.section--PhotoboxGallery{
    .photobox_gallery{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1rem;
        margin-top: 1rem;

        .photobox_image{
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            position: relative;

            .photobox_image_meta{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                padding: 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                a{
                    color: white;
                    text-decoration: none;
                    background-color: $ColorSecondary;
                    padding: 5px 10px;
                    border-radius: 5px;
                    transition: background-color 0.1s ease-in-out;
                }

                p{
                    margin: 0;
                }
            }

            .photobox_image_content{
                width: 100%;
                height: 100%;
                object-fit: contain;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

.section.section--PhotoboxImage{
    text-align: center;

    .photobox_headline{
        margin: 30px auto;
        padding-top: 20px;
        display: block;

        h1{
            text-transform: uppercase;
        }
    }

    .photobox_image{
        aspect-ratio: 1/1;
        max-width: 100%;
        max-height: 700px;
        margin: 0 auto;
        border: 5px solid white;
        box-shadow: 0px 0px 20px 0px black;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .photobox_downloadbutton{
        margin: 30px auto;
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: $ColorSecondary;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.1s ease-in-out;
    }
}
